In [8]:
import math
import pandas as pd
import pandas_ta as ta
import numpy as np
import yfinance as yf
import defs
import requests

In [16]:
# Importing through a CSV that has more data which was downloaded externally.
df = pd.read_csv('../Data/AUDCAD_H1(22007-09-26 - 2024-02-02).csv', delimiter='\t', names=['Open', 'High', 'Low', 'Close', 'Volume'], header=0)
df.index = pd.to_datetime(df.index)

In [18]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

## Initialise Indicators here

In [19]:
# EMA and ATR with defaults length @ 14

df['ATR'] = ta.atr(pd.Series(df.High),
                   pd.Series(df.Low),
                   pd.Series(df.Close),
                   length=14)

df['EMA50'] = ta.ema(pd.Series(df.Close), length=50)

In [21]:
df.tail()

                        Open     High      Low    Close  Volume       ATR
2024-02-02 15:00:00  0.87889  0.87923  0.87613  0.87689   24543  0.001511
2024-02-02 16:00:00  0.87688  0.87700  0.87579  0.87605   20966  0.001489
2024-02-02 17:00:00  0.87603  0.87652  0.87590  0.87630   11476  0.001427
2024-02-02 18:00:00  0.87631  0.87729  0.87601  0.87699    8236  0.001417
2024-02-02 19:00:00  0.87701  0.87736  0.87666  0.87713    5721  0.001366

In [24]:
df.tail()

,Open,High,Low,Close,Volume,ATR,EMA50
2024-02-02 15:00:00,0.87889,0.87923,0.87613,0.87689,24543,0.001511,0.880655
2024-02-02 16:00:00,0.87688,0.87700,0.87579,0.87605,20966,0.001489,0.880041
2024-02-02 17:00:00,0.87603,0.87652,0.87590,0.87630,11476,0.001427,0.879542
2024-02-02 18:00:00,0.87631,0.87729,0.87601,0.87699,8236,0.001417,0.879202
2024-02-02 19:00:00,0.87701,0.87736,0.87666,0.87713,5721,0.001366,0.878926