In [1]:
import pandas as pd
import defs
import requests

In [2]:
sessions = requests.Session()

In [3]:
instrument = 'EUR_USD'
count = 10
granularity = 'H1'

In [4]:
url = f'{defs.OANDA_URL}/instruments/{instrument}/candles'

In [5]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA",
)

In [6]:
response = sessions.get(url, params=params, headers=defs.SECURE_HEADER)

In [8]:
data = response.json()

In [9]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [12]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [19]:
my_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    my_data.append(new_dict)
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}'] = candle[price][oh]
    print(my_data[0])

{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}
{'time': '2024-02-08T10:00:00.000000000Z', 'volume': 3034, 'mid_o': '1.07833', 'mid_h': '1.07856', 'mid_l': '1.07712', 'mid_c': '1.07716', 'bid_o': '1.07826', 'bid_h': '1.07848', 'bid_l': '1.07705', 'bid_c': '1.07709', 'ask_o': '1.07840', 'ask_h': '1.07863', 'ask_l': '1.07720', 'ask_c': '1.07723'}

In [21]:
candles_df = pd.DataFrame.from_dict(my_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-02-08T10:00:00.000000000Z,3034,1.07833,1.07856,1.07712,1.07716,1.07826,1.07848,1.07705,1.07709,1.07840,1.07863,1.07720,1.07723
1,2024-02-08T11:00:00.000000000Z,3157,1.07714,1.07732,1.07612,1.07631,1.07707,1.07725,1.07604,1.07623,1.07721,1.07740,1.07619,1.07639
2,2024-02-08T12:00:00.000000000Z,3965,1.07632,1.07637,1.07500,1.07568,1.07625,1.07629,1.07493,1.07560,1.07639,1.07645,1.07508,1.07575
3,2024-02-08T13:00:00.000000000Z,6631,1.07570,1.07623,1.07416,1.07440,1.07563,1.07616,1.07408,1.07433,1.07578,1.07630,1.07424,1.07448
4,2024-02-08T14:00:00.000000000Z,5337,1.07442,1.07675,1.07436,1.07651,1.07434,1.07668,1.07429,1.07644,1.07450,1.07682,1.07443,1.07658
5,2024-02-08T15:00:00.000000000Z,6061,1.07652,1.07678,1.07514,1.07614,1.07644,1.07670,1.07507,1.07607,1.07660,1.07685,1.07522,1.07621
6,2024-02-08T16:00:00.000000000Z,3420,1.07614,1.07742,1.07604,1.07733,1.07606,1.07735,1.07597,1.07726,1.07621,1.07749,1.07611,1.07740
7,2024-02-08T17:00:00.000000000Z,3060,1.07735,1.07767,1.07715,1.07735,1.07728,1.07760,1.07707,1.07728,1.07742,1.07774,1.07722,1.07742
8,2024-02-08T18:00:00.000000000Z,3821,1.07736,1.07828,1.07732,1.07767,1.07729,1.07821,1.07725,1.07759,1.07743,1.07836,1.07740,1.07775

In [22]:
candles_df.to_pickle('EURUSD_H1.pkl')

In [23]:
test_df = pd.read_pickle('EURUSD_H1.pkl')

In [24]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-02-08T10:00:00.000000000Z,3034,1.07833,1.07856,1.07712,1.07716,1.07826,1.07848,1.07705,1.07709,1.07840,1.07863,1.07720,1.07723
1,2024-02-08T11:00:00.000000000Z,3157,1.07714,1.07732,1.07612,1.07631,1.07707,1.07725,1.07604,1.07623,1.07721,1.07740,1.07619,1.07639
2,2024-02-08T12:00:00.000000000Z,3965,1.07632,1.07637,1.07500,1.07568,1.07625,1.07629,1.07493,1.07560,1.07639,1.07645,1.07508,1.07575
3,2024-02-08T13:00:00.000000000Z,6631,1.07570,1.07623,1.07416,1.07440,1.07563,1.07616,1.07408,1.07433,1.07578,1.07630,1.07424,1.07448
4,2024-02-08T14:00:00.000000000Z,5337,1.07442,1.07675,1.07436,1.07651,1.07434,1.07668,1.07429,1.07644,1.07450,1.07682,1.07443,1.07658
5,2024-02-08T15:00:00.000000000Z,6061,1.07652,1.07678,1.07514,1.07614,1.07644,1.07670,1.07507,1.07607,1.07660,1.07685,1.07522,1.07621
6,2024-02-08T16:00:00.000000000Z,3420,1.07614,1.07742,1.07604,1.07733,1.07606,1.07735,1.07597,1.07726,1.07621,1.07749,1.07611,1.07740
7,2024-02-08T17:00:00.000000000Z,3060,1.07735,1.07767,1.07715,1.07735,1.07728,1.07760,1.07707,1.07728,1.07742,1.07774,1.07722,1.07742
8,2024-02-08T18:00:00.000000000Z,3821,1.07736,1.07828,1.07732,1.07767,1.07729,1.07821,1.07725,1.07759,1.07743,1.07836,1.07740,1.07775